<!DOCTYPE html>
@{
    Layout = "_Layout";
}
<html>
<body>
<div  style="font-size: 30px;height: 88vh;width: 100vw">
    <style>
        .tableClass {
            text-align: center;
            width: auto;
            height: 50vh;
            background: #AA6125;
            margin-top: 3%;

        }

            .tableClass td {
                border-radius: 50px;
                font-size: 20px;
            }
            .tableClass tr {
                border: 5px solid white;
                border-bottom-width: 10px;
            }
            .tableClass p {
                color: white;
                padding-bottom: 10px;
                padding-top: 10px;
                padding-right: 10px;
                padding-left: 10px;
            }
    </style>
    <table class="tableClass" align="left">
        <tr>
            <td >
                <p role="button" onclick="window.location.href = '@Url.Action("FireBroadcast","Product")'">火警廣播設備</p>
            </td>
        </tr>
        <tr>
            <td>
                <p role="button" onclick="window.location.href = '@Url.Action("FireBox","Product")'">消防箱主要配件</p>
</td>
        </tr>
        <tr>
            <td>
                <p role="button" onclick="window.location.href = '@Url.Action("Refuge","Product")'"> 避難逃生設備</p>
            </td>
        </tr>
        <tr>
            <td>
                <p role="button" onclick="window.location.href = '@Url.Action("Smoke","Product")'">排煙設備</p>
</td>
        </tr>
        <tr>
            <td>
                <p role="button" onclick="window.location.href = '@Url.Action("AutoWater","Product")'">自動灑水滅火設備</p>
</td>
        </tr>
        <tr>
            <td>
                <p role="button" onclick="window.location.href = '@Url.Action("Kitchen","Product")'">廚房滅火設備</p>
</td>
        </tr>
    </table>

    @RenderBody()

</div>

</body>

</html>
