
@{
    ViewData["Title"] = "Recruit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="height:100vh">
    <div style="font-size: 1.4vw;height:86vh">
        <div style="text-align:center">
            <h1>
                人才招募
            </h1>
        </div>
        <table style="text-align:left">
            <tr>
                <td>
                    福利制度:
                </td>
                <td>
                    1.周休(工地人員須配合現場排休)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    獎金類:
                </td>
                <td>
                    1.年終獎金
                    <br />
                    2.各類業績及工程獎金
                    <br />
                    3.其它獎金
                </td>
            </tr>
            <tr>
                <td valign="top">
                    保險類:
                </td>
                <td>
                        1.勞保
                        <br />
                        2.健保
                        <br />
                        3.團保
                </td>
            </tr>
            <tr>
                <td >
                    補助類:
                </td>
                <td>
                    1.退職金提撥
                </td>
            </tr>
            <tr>
                <td valign="top">
                    休閒類:
                </td>
                <td>
                        1.國內外旅遊
                        <br />
                        2.部門聚餐
                </td>
            </tr>
            <tr>
                <td  valign="top">
                    制度類:
                </td>
                <td>
                        1.員工制服
                        <br />
                        2.完整的教育訓練 (含國外)
                        <br />
                        3.順暢的升遷管道
                        <br />
                        4.年假
                </td>
            </tr>
        </table>
        <br/>
        <table style="width:96vw" align="center">
            <tr>
                <td align="center">
                    職務名稱
                </td>
                <td align="center">
                    需求人數
                </td>
                <td align="center">
                    學歷
                </td>
                <td align="center">
                    經歷
                </td>
                <td align="center">
                    待遇
                </td>
                <td align="center">
                    備註
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @item.Position
                    </td>
                    <td align="center">
                        @item.HeadCount
                    </td>
                    <td align="center">
                        @item.Education
                    </td>
                    <td align="center">
                        @item.Experience
                    </td>
                    <td align="center">
                        @item.Salary
                    </td>
                    <td align="center">
                        @item.Remark
                    </td>
                </tr>
            }
        </table>
    </div>
</body>